h1{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 30px;
    color: darkred;
    
}
label{
    display: inline-block;
}